# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg


# Virtual Environment
venv/
env/
.env


# IDE
.vscode/
.idea/


# Database
instance/
*.sqlite3
*.db-journal
*.db-shm
*.db-wal


# OS
.DS_Store
Thumbs.db


# Flask
*.log


# Generated images (runtime artifacts)
static/images/admin_summary.jpeg
static/images/user_summary.jpeg
