# Core Framework
Flask==3.0.3
Flask-SQLAlchemy==3.1.1

# Database
SQLAlchemy>=2.0.35

# Charts & Data
matplotlib>=3.9.0
numpy>=2.1.0
pillow>=10.2.0

# AI
google-generativeai==0.8.3

# Environment
python-dotenv==1.0.1

gunicorn==21.2.0
flask-login
flask-session
psycopg2-binary
Flask-Migrate
flask-compress